// .line{
//   line-height: 2.45;
// }
.step2container {
  background-color: #ffffff;
}
.title {
  font-size: 14px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 20px;
  line-height: 0.5px;
  padding-bottom: 10px !important;
}
.subTitle {
  font-size: 12px;
  padding-left: 20px;
}
.productInput {
  width: 550px;
  height: 40px;
  padding-left: 20px;
  margin-left: 20px;
  margin-bottom: 3px;
  box-shadow: 4px #000000;
  font-size: 14px;
}
.inputDes {
  width: 550px;
  height: 100px;
  padding-top: 5px;
  padding-left: 20px;
  margin-left: 20px;
  margin-bottom: 3px;
  box-shadow: 4px #000000;
  font-size: 14px;
}
.mobile {
  height: 420px;
  width: 288px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
  padding-right: 20%;
}
.char-msg {
  font-size: 12px;
  margin-left: 480px;
  // margin-top: -10px !important ;
}

input.is-invalid,
textarea.is-invalid {
  border-color: #eb3232 !important;
  box-shadow: none !important;
  border-width: 1px;
}
.backbtn {
  display: block;
  background-color: #ffffff;
  color: #1c67f5;
  width: 180px;
  height: 38px;
  border-radius: 3px;
  border-color: #1c67f5;
  border-width: 1px;
  margin-top: 25px;
  cursor: pointer;
  // box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  float: left;
}
.continuebtn {
  display: block;
  background-color: #1c67f5;
  color: #ffffff;
  width: 180px;
  height: 38px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin-top: 25px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  float: right;
}
.continuebtn[disabled] {
  border: 1px solid rgb(95, 151, 255);
  background-color: rgb(95, 151, 255);
  color: #ffffff;
  cursor: no-drop;
}
.notifyMsg {
  color: red;
  font-size: 12px;
  padding-left: 0px;
  margin-right: 131px;
  float: right;
}
.ntfyMsg {
  color: red;
  font-size: 12px;
  padding-left: 56%;
}
.ntfyMsgproduct {
  color: red;
  font-size: 12px;
  // padding-left: 61%;
  width: 550px;
  text-align: right;
  margin-left: 20px;
}
.ntfyMsg1 {
  color: red;
  font-size: 12px;
  padding-left: 42%;
}
.ntfyMsgmin {
  color: red;
  font-size: 12px;
  padding-left: 47%;
}
.btCtrl {
  padding-left: 30px;
  padding-bottom: 50px;
}
.bm-header {
  background-color: #fcfdff;
  height: 50px;
  margin-bottom: 2px;
  padding: 14px 30px;
  font-size: 18px;
  font-style: "bold";
  line-height: 29px;
  margin-left: -10;
  .text-right {
    text-align: right;
  }
}
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
@media (min-width: 1920px) {
  .notifyMsg {
    color: red;
    font-size: 12px;
    padding-left: 0px;
    margin-right: 260px;
    float: right;
  }
  .ntfyMsg {
    color: red;
    font-size: 12px;
    padding-left: 47%;
  }
  .ntfyMsg1 {
    color: red;
    font-size: 12px;
    padding-left: 35%;
  }
  // .ntfyMsgproduct {
  //   color: red;
  //   font-size: 12px;
  //   padding-left: 51%;
  // }
  .ntfyMsgmin {
    color: red;
    font-size: 12px;
    padding-left: 40%;
  }
  .dynamicData {
    max-width: 85% !important;
  }
  .dynamicData2 {
    max-width: 85% !important;
  }
  .dynamicData3 {
    max-width: 85% !important;
  }
  .mobileImg {
    background-position-x: 80px !important;
  }
  .textBody {
    width: 55% !important ;
    margin-left: 95px !important ;
  }
}
.mobileImg {
  background-image: url("../../../assets/images/Blank_Mobile.png");
  height: 480px;
  background-position-y: 30px;
  background-position-x: 29px;
  background-repeat: no-repeat;
}
.dynamicData {
  background-color: rgba(30, 105, 246, 0.3);
  font-size: 10px;
  padding: 3px 9px;
  word-wrap: break-word;
  min-height: 20px;
  min-width: 10%;
  max-width: 100%;
  font-weight: 600;
}
.dynamicData2 {
  background-color: rgba(30, 105, 246, 0.3);
  left: 0px;
  font-size: 10px;
  padding: 3px 8px 3px 10px;
  color: #0871de;
  word-wrap: break-word;
  min-height: 20px;
  min-width: 10%;
  max-width: 100%;
}
.dynamicData3 {
  background-color: rgba(30, 105, 246, 0.3);
  left: 0px;
  font-size: 10px;
  padding: 7px 8px 7px 10px;
  word-wrap: break-word;
  min-height: 20px;
  min-width: 10%;
  max-width: 100%;
}
.textBody {
  position: absolute;
  top: 113px;
  width: 56%;
  margin-left: 42px;
}
.btCtrl {
  padding-bottom: 15px !important;
}
