<form name="form" #f="ngForm" (ngSubmit)="f.valid && onSubmit(f)">
  <div class=" row step2container">
    <div class="col-xs-12 col-sm-8 col-md-8">
      <br />
      <div class="form-group">
        <div class="line">
          <label class="title">Product Name</label> <br />
          <input
            type="text"
            class="productInput"
            name="productName"
            placeholder="Product Name"
            [(ngModel)]="model.productName"
            #productName="ngModel"
            [ngClass]="{
              'is-invalid': (f.submitted && productName.errors?.required) || productName.errors?.minlength
            }"
            required
            minlength="2"
            maxlength="50"
          />
        </div>

        <div *ngIf="f.submitted">
          <div class="ntfyMsgproduct" *ngIf="productName.errors?.required">Product name is required</div>
          <div class="ntfyMsgmin" *ngIf="productName.errors?.minlength">Product name must be atleast 2 characters</div>
        </div>
      </div>
      <div class="form-group">
        <div class="line">
          <label class="title">Billing Model Name</label> <br />
          <input
            type="text"
            class="productInput"
            name="billingModelName"
            placeholder="x months subscription"
            [(ngModel)]="model.billingModelName"
            #billingModelName="ngModel"
            [ngClass]="{
              'is-invalid': (f.submitted && billingModelName.errors?.required) || billingModelName.errors?.minlength
            }"
            required
            minlength="2"
            maxlength="50"
          />
        </div>

        <div *ngIf="f.submitted">
          <div class="ntfyMsg" *ngIf="billingModelName.errors?.required">Billing model name is required</div>
          <div class="ntfyMsg1" *ngIf="billingModelName.errors?.minlength">
            Billing model name must be atleast 2 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="line">
          <label class="title">Billing Model Description</label> <br />
          <textarea
            class="inputDes"
            name="billModelDes"
            placeholder="Explain what is the service or product you provide for this billing model"
            [(ngModel)]="model.billModelDes"
            #billModelDes="ngModel"
            [ngClass]="{
              'is-invalid': (f.submitted && billModelDes.errors?.required) || billModelDes.errors?.minlength
            }"
            required
            minlength="2"
            maxlength="140"
            (input)="handleCount(billModelDes)"
          ></textarea>
        </div>
        <div>
          <label class="char-msg" *ngIf="!billModelDes.errors">{{ this.homePage.count }} characters</label>
          <label class="char-msg" *ngIf="billModelDes.errors">{{ this.homePage.count }} characters</label>
        </div>
        <div *ngIf="f.submitted">
          <div class="notifyMsg" *ngIf="billModelDes.errors?.required">Billing model description is required</div>
          <div class="notifyMsg" *ngIf="billModelDes.errors?.minlength">
            Billing model description must be atleast 2 characters
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="mobileImg">
        <!-- <img src="assets/images/Blank_Mobile.png" class="mobile" /> -->
        <div class="textBody">
          <label *ngIf="productName.value" class="dynamicData">{{ productName.value }}</label> <br />
          <label *ngIf="billingModelName.value" class="dynamicData2">{{ billingModelName.value }}</label> <br />
          <label *ngIf="billModelDes.value" class="dynamicData3">{{ billModelDes.value }}</label> <br />
        </div>
        <!-- <Label class="dynamicData">BillingModelName</Label> -->
      </div>
    </div>
    <div class="btCtrl col-xs-12 col-sm-10 col-md-11">
      <button class="backbtn" (click)="onBack()">Back</button>
      <button type="submit" class="continuebtn">Continue</button>
    </div>
  </div>
</form>
