<div class="mainContent">
  <label class="titleOne">Transfer from PullPayment Accounts to Treasury</label><br />
  <label class="subtitle">Choose how often you will receive your payments from the PullPayment Accounts</label>
  <div class="col-xs-12 col-sm-8 col-md-8">
    <select
      name="transactions"
      [(ngModel)]="model.transactions"
      #transactions="ngModel"
      (change)="handleChangetransactions(transactions)"
    >
      <option *ngFor="let item of transcationoption" [selected]="item.value === 0" [ngValue]="item.label">{{
        item.label
      }}</option>
    </select>
  </div>
  <div class="tablecontent">
    <label class="tabletitle">Gas cost</label>
    <div class="row noMargin">
      <div class="col-xs-12 col-sm-10 col-md-10">
        <table>
          <tr>
            <td>Transaction</td>
            <td>Number of subscriptions</td>
            <td>Estimated Gas <br />Cost/transaction (ETH)</td>
            <td>Total Estimated Gas cost (ETH)</td>
          </tr>
          <tr>
            <td>Inital Charge</td>
            <td class="tablevalue">{{ model.initialRecurrence }}</td>
            <td class="tablevalue">
              <span class="Totalvalue">{{ model.recurrencegas }}</span>
              <span class="TotalUSD">(~${{ model.RecurrenceUSD }})</span>
            </td>
            <td class="tablevalue">
              <span class="Totalvalue">{{ model.initialETH }}</span>
              <span class="TotalUSD">(~${{ model.initialUSD }})</span>
            </td>
          </tr>
          <tr>
            <td>Subscription Pull Transaction</td>
            <td class="tablevalue">{{ model.Recurrence }}</td>
            <td class="tablevalue">
              <span class="Totalvalue">{{ model.recurrencegas }}</span>
              <span class="TotalUSD">(~${{ model.RecurrenceUSD }})</span>
            </td>
            <td class="tablevalue">
              <span class="Totalvalue">{{ model.RecurrenceETH }}</span>
              <span class="TotalUSD">(~${{ model.RecurrenceETHUSD }})</span>
            </td>
          </tr>
          <tr>
            <td>
              Transfers from<br />
              PullPayment Account to Treasury
            </td>
            <td class="tablevalue">{{ model.PullRecurrence }}</td>
            <td class="tablevalue">
              <span class="Totalvalue">{{ model.Transfergas }}</span>
              <span class="TotalUSD">(~${{ model.TransferUSD }})</span>
            </td>
            <td class="tablevalue">
              <span class="Totalvalue">{{ model.PullRecurrencecost }}</span>
              <span class="TotalUSD">(~${{ model.PullRecurrencecostUSD }})</span>
            </td>
          </tr>
          <tr>
            <td>Total</td>
            <td class="tablevalue"></td>
            <td class="tablevalue"></td>
            <td class="tableresult">
              <span class="Totalvalue">{{ model.TotalETH }}</span>
              <span class="TotalUSD">(~${{ model.TotalUSD }})</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">
        <label class="Pricedecription"
          >will be paid for <b>Gas fees</b><br />
          every time a new customer subscribes</label
        >
      </div>
    </div>
  </div>
  <div class="textcontent">
    <img src="assets/images/info.svg" />
    <p class="contenttitle">PullPayment Accounts and Gas Costs</p>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p class="decripitionContent">
          <b>Every</b> time a <b>new customer</b> subscribes to a billing model, the system creates a
          <b>new PullPayment account.</b> The PullPayment account will continuously bill the customer according to the
          billing model’s parameters. The <b>PMA</b> tokens will be kept in <b>the PullPayment</b> accounts until they
          are transferred to the Treasury.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p class="decripitionContent">
          <b>Choose how often</b> you want to transfer funds from all the PullPayment accounts associated with this
          billing model to your Treasury. Depending on your choice, the specific amount of <b>ETH is allocated</b> for
          those subscription payments <b>to pay for</b> all the gas fees of the <b>transfer to the Treasury</b>.Upon
          every subscription,the above Total Estimated Gas Cost(ETH) will be transferred from the Gas Wallet to a new
          PullPayment account.
        </p>
      </div>
    </div>
    <a class="tContent" href="https://wiki.pumapay.io/#/page/portalbillingmodels" target="_blank"> Learn more </a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 FooterDiv">
    <button class="backbtn" (click)="onBack()">Back</button>
    <button class=" continuebtn" [disabled]="disabledBtn" (click)="onPublish()">Publish</button>
  </div>
</div>
