.billingModelContainer {
  width: 100%;
  margin-bottom: 20px;
  .bmr-header {
    background-color: #fcfdff;
    height: 50px;
    margin-bottom: 2px;
    padding: 18px 30px;
    font-size: 18px;
    font-style: "bold";
    .text-right {
      text-align: right;
    }
  }
}

.bmr-main {
  background-color: #fcfdff;
  padding: 50px 30px;
  min-height: 120px;

  .billingBoxCont {
    width: 100%;
    label {
      font-size: 12px;
      color: #333333;
    }
    select {
      width: 153px;
      height: 38px;
      border-color: #ccd1d9 solid;
      background-color: #fcfdff;
      font-size: 14px;
      line-height: 21px;
      border-radius: 0px;
      padding: 0px 20px;
      box-shadow: 1px 1px 3px #ccd1d9;
    }
    input {
      width: 300px;
      height: 38px;
      // border-radius: 1px;
      padding: 0px 20px;
      font-size: 14px;
      line-height: 21px;
      background: #ffffff;
      border: 0.7px solid #cccccc;
      box-sizing: border-box;
      box-shadow: inset 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.15);
      ::placeholder {
        color: #bdbdbd;
      }
    }
    .dayselect select {
      width: 300px;
      height: 38px;
      border-color: #ccd1d9 solid;
      background-color: #fcfdff;
      font-size: 14px;
      line-height: 21px;
      border-radius: 0px;
      padding: 0px 20px;
    }
    .dayselect {
      margin: 0px 10px;
      select.is-invalid {
        border-color: #eb3232 !important;
        box-shadow: none;
        border-width: 1px;
      }
    }
    .amountinput {
      margin: 0px 10px;
    }
    .singleimg {
      width: 262px;
      height: 442px;
      float: right;
      padding-right: 10%;
    }
    .backbtn {
      display: block;
      background-color: #ffffff;
      color: #1c67f5;
      width: 180px;
      height: 38px;
      border-radius: 3px;
      border-color: #1c67f5;
      cursor: pointer;
      // margin-top: 25px;
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
      float: left;
    }
    .continuebtn {
      display: block;
      background-color: #1c67f5;
      color: #ffffff;
      width: 180px;
      height: 38px;
      border-radius: 3px;
      border: none;
      // margin-top: 25px;
      cursor: pointer;
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
      float: right;
    }
    .continuebtn[disabled] {
      border: 1px solid rgb(95, 151, 255);
      background-color: rgb(95, 151, 255);
      color: #ffffff;
      cursor: no-drop;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.notifyMsg {
  color: #eb3232;
  font-size: 12px;
  text-align: right;
  margin-right: 24px;
}
.errorMSg {
  color: #eb3232;
  font-size: 12px;
  text-align: right;
  //margin-right: 5px;
}

.SingleRecurringClass {
  margin-bottom: 25px;
}
.BillingCycleClass {
  font-size: 13px;
  color: #000;
  font-weight: 600;
}
input.is-invalid {
  border-color: #eb3232 !important;
  box-shadow: none;
  border-width: 1px;
}
@media (min-width: 1920px) {
  .notifyMsg {
    margin-right: 24%;
    text-align: right;
  }
  .errorMSg {
    margin-right: 5px;
    text-align: right;
  }
  .amountselect {
    select {
      width: 185px !important;
    }
  }
  .dynamicData {
    width: 84% !important;
  }
  .dynamicData2 {
    width: 87% !important;
  }
  .dynamicData3 {
    width: 87% !important;
  }
  .data-info {
    width: 81% !important;
  }
  .mobileImg {
    background-position-x: 119px !important;
  }
  .textBody {
    margin-left: 133px !important;
  }
}
.SingleRecurringClass input.col-md-11 {
  max-width: 100% !important;
}
@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 96%;
  }
}

.container {
  margin-left: 21px;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0% !important;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.checkmark {
  border-radius: 0%;
}
.container .checkmark:after {
  top: 7.5px;
  left: 7.5px;
  width: 10px;
  height: 10px;
  border-radius: 0%;
  background: white;
}

.mobileImg {
  background-image: url("../../../../assets/images/Blank_Mobile.png");
  height: 480px;
  background-position-y: 30px;
  background-position-x: 60px;
  background-repeat: no-repeat;
}
.dynamicData {
  padding-left: 8px;
  word-wrap: break-word;
  min-height: 20px;
  width: 102%;
  font-weight: 600;
}
.dynamicData2 {
  left: 0px;
  padding: 0px 8px 0px 10px;
  color: #0871de !important;
  word-wrap: break-word;
  min-height: 20px;
  width: 105%;
}
.dynamicData3 {
  left: 0px;
  padding: 7px 8px 7px 10px;
  word-wrap: break-word;
  min-height: 20px;
  width: 105%;
}
.textBody {
  position: absolute;
  top: 100px;
  width: 54%;
  margin-left: 75px;
  label {
    font-size: 10px !important;
    color: #000000;
  }
}
.img-size {
  height: 20px;
}
.data-info {
  margin: 0px 0px 0px 8px;
  border: black;
  border-width: 2px;
  box-shadow: 0px 0.652639px 7.83167px rgba(0, 0, 0, 0.1);
}
.data-info {
  padding: 6px 0px 0px 0px;
  table {
    width: 100%;
    position: relative;
    tr {
      background-color: rgba(30, 105, 246, 0.3);
      display: block;
      margin-bottom: 5px;
    }
    th,
    td {
      text-align: left;
      font-size: 10px;
      font-weight: 600;
      padding: 0px;
      border-bottom: 1px solid #ddd;
    }
    hr {
      margin: 6px !important;
    }
  }
  label {
    margin: 0px;
    color: #000000;
  }
}
.nxtbtn {
  background: #ffffff !important;
  max-width: 100% !important;
  padding: 10px 33px 25px 33px;
  display: inline-block;
}
.backbtn {
  display: block;
  background-color: #fcfdff;
  color: #1c67f5;
  width: 180px;
  height: 38px;
  border-radius: 3px;
  border-color: #1c67f5;
  border-width: 1px;
  cursor: pointer;
  float: left;
}
.continuebtn {
  display: block;
  background-color: #1c67f5;
  color: #ffffff;
  width: 180px;
  height: 38px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  float: right;
}
