.billingModelContainer {
  width: 98.6%;
  .bm-header {
    background-color: #fcfdff;
    height: 50px;
    margin-bottom: 2px;
    padding: 14px 0px;
    font-size: 16px;
    button {
      display: inline-block;
      background-color: #1c67f5;
      color: #ffffff;
      width: 80px;
      height: 32px;
      border-radius: 3px;
      cursor: pointer;
      border: none;
      margin-top: -5px;
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
      padding-top: 4px;
    }
    .text-right {
      text-align: right;
    }
  }
  .bm-main {
    background-color: #ffffff;
    min-height: 120px;
    overflow-x: hidden;
    top: 82px;
    .billingImg {
      display: block;
      margin: 0px 0px;
      padding: 40px;
      margin: 0px !important;
      width: 180px;
    }
    button {
      display: block;
      background-color: #1c67f5;
      color: #ffffff;
      width: 180px;
      cursor: pointer;
      height: 38px;
      border-radius: 3px;
      border: none;
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 30px !important;
    }
    .billingBoxCont {
      padding: 20px 20px;
      overflow-y: scroll;
      .billingBox.active {
        border-color: #f9b741;
        background: #ffffff;
        border: 1px solid #f9b741;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        .boxHead {
          color: #f9b741;
        }
        .LinkTag {
          color: #003aa7;
          font-size: 12px;
          line-height: 123%;
        }
      }
      .billingBox.active1 {
        background: #ffffff;
        /* puma blue */
        border: 0.5px solid #1e6af6;
        /* Drop Shadow */
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        .boxHead {
          color: #1e6af6;
        }
        .LinkTag {
          color: #1e6af6;
          font-size: 10px;
          line-height: 123%;
        }
      }
      .billingBox.active2 {
        background: #ffffff;
        /* purple */
        border: 0.5px solid #ac8bfc;
        /* Drop Shadow */
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        .boxHead {
          color: #ac8bfc;
        }
        .LinkTag {
          color: #ac8bfc;
          font-size: 10px;
          line-height: 123%;
        }
      }
      .billingBox {
        min-height: 300px;
        cursor: pointer;
        margin-bottom: 20px;
        border: 0.5px solid #1c67f5;
        border-radius: 6px 6px 0px 0px;
        .boxHead {
          padding: 8px 8px;
          color: #003aa7;
          font-size: 10px;
          line-height: 20px;
          .ImgCont {
            width: 90%;
            position: relative;
            display: inline-block;
            p {
              margin-top: -1px;
              margin-right: 5px;
              font-size: 12px;
            }
            img {
              float: left;
              margin-right: -12px;
              margin-top: 0px;
              position: relative;
              left: -15px;
              width: 18px;
            }
          }
        }
        .boxCont {
          margin-left: 5px !important;
          background-color: #fcfdff;
          .pad-l-20 {
            p {
              font-size: 15.5021px;
              color: #000;
              span {
                font-size: 20px;
              }
              a {
                color: #003aa7 !important;
                font-size: 14px;
              }
              border-bottom: 0.5px solid #9b9b9b;
              padding-bottom: 8px;
              margin-bottom: 4px;
            }
          }
          .number {
            font-size: 19.5021px;
            color: #000;
            font-weight: bold;
            margin-bottom: 5px;
            word-wrap: break-word;
            .p {
              font-size: 10px !important;
            }
          }
          .large {
            margin: 0px 0px;
            font-size: 30px;
            font-weight: 600;
            color: #333333;
            word-wrap: break-word;
            padding-top: 4%;
            .new {
              margin-top: 0px;
              color: #828282;
              .label {
                color: black;
              }
            }
            .new1 {
              color: #828282;
            }
            .new2 {
              color: #828282;
            }
            .new3 {
              color: #828282;
            }
            .labelcolor {
              color: black;
            }
          }
          .footerText {
            color: #828282;
            font-size: 15.5021px;
            .footerTextPma {
              height: 50px;
              margin-top: 64px;
              margin-left: 15px;
              .footertype {
                margin-top: 10px;
              }
            }
            p {
              font-size: 18px;
            }
          }
          .ImgCont {
            width: 10px;
            position: relative;
            top: -2px;
            margin-right: 15px;
            display: inline-block;
          }
        }
      }
      width: 100%;
    }
  }
}
.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.alertbilling {
  margin-left: 500px;
}
.alertTag {
  line-height: 14px;
  font-size: 12px;
  text-decoration-line: underline !important;
  color: #1e6af6 !important;
  cursor: pointer;
}
.billingAlert {
  position: relative;
  margin-left: 20px;
  img {
    height: 16px !important;
    width: 16px !important;
    position: relative;
    left: -10px;
    top: -2px;
  }
  .BillingAlertBody {
    position: absolute;
    top: 30px;
    left: -16px;
    background-color: #000000;
    color: #ffffff;
    display: none;
    padding: 10px 10px;
    border-radius: 5px;
    min-width: 405px;
    font-size: 11px;
    z-index: 1;
  }
  .BillingAlertBody:before {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    position: absolute;
    top: -5px;
  }
}
.billingAlert img {
  width: 20px;
  height: 20px;
}
.billingAlert:hover .BillingAlertBody {
  display: block;
}
.alert {
  line-height: 10px;
  font-size: 12px;
  text-decoration-line: underline !important;
  color: #1e6af6 !important;
}
.modelSize2 {
  height: 342px;
  width: 650px;
  background-color: #ffffff !important;
  label {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 60px 10px 0px 15px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.modal-content {
  left: 6%;
  margin-top: 60px;
}
.qrContents {
  font-size: 12px;
  color: #9b9b9b;
  margin-top: 15px;
}
.qrCodeField {
  input {
    width: 290px;
    height: 38px;
  }
}
.qrCont {
  margin-left: 15px;
}
.closeBtn {
  float: right;
  padding: 20px;
  img {
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
}
.single-class {
  float: left;
  margin: 5px 0px !important;
}
.billingImg1 {
  float: right;
  cursor: pointer;
}
.modal-footer {
  float: left;
}
.modelpop {
  width: 350px;
  height: 200px;
}
.Edit {
  float: right;
}
.type1Color {
  border: 2px solid #17a2b8;
}

.type2Color {
  border: 2px solid #ffc107;
}

.type1header {
  color: #17a2b8;
}

.type2header {
  color: #ffc107;
}

.headerUnderLine {
  border-bottom: 1px solid #dee2e6;
}

.RecurringClass p {
  color: #1e6af6 !important;
}
.SingleRecurringClass p {
  color: #ac8bfc !important;
  font-size: 10px;
}
fieldset.scheduler-border {
  border: 0.5px solid #82828278 !important;
  border-radius: 3px;
  padding: 0 0.4em 0em 0.4em !important;
  -webkit-box-shadow: 0px 0px 0px 0px #828282;
  box-shadow: 0px 0px 0px 0px #828282;
  width: 100%;
  word-wrap: break-word;
  float: left;
  label {
    font-size: 28px;
    align-items: center;
    float: left;
    word-wrap: break-word;
  }
  .intialvalue {
    font-size: 20px;
    align-items: center;
    float: left;
    word-wrap: break-word;
  }
}
legend.scheduler-border {
  font-size: 8px !important;
  font-weight: normal !important;
  text-align: left !important;
  width: auto;
  padding: 0 5px;
  word-wrap: break-word;
  margin-bottom: 0px !important;
}

/*** Scroll Bar Style ***/

.billingBox::-webkit-scrollbar-track {
  background-color: #f4f6fb;
  border: 0.5px solid #c5ccce;
  margin: 0px 5px;
}
.billingBox::-webkit-scrollbar {
  width: 6px;
  background-color: #f4f6fb;
  margin: 0px 5px;
}
.billingBox::-webkit-scrollbar-thumb {
  background-color: #c5ccce;
  margin: 0px 5px;
}
/*** Scroll Bar Style ***/
@media (min-width: 1920px) {
  .billingBox {
    height: 275px !important;
    width: 245px !important;
  }
  .qrContents {
    margin-left: 0% !important;
  }
  .bm-main.flex-center-center {
    left: inherit !important;
    width: 67.4% !important;
  }
  .billingModelContainer {
    width: 99.8% !important;
  }
  .billingModelContainer .bm-main {
    width: 100% !important;
  }
  .billingModelContainer .bm-header button {
    margin-right: 28px !important;
    padding-top: 4px;
  }
  .billingModelContainer .bm-header button img {
    position: relative;
    top: -2px;
  }
  .BillingAlertBody {
    min-width: 475px !important;
  }
}
.billingModelContainer .bm-header button img {
  position: relative;
  top: -2px;
}
// /** Loader**/
// .lds-ring {
//   display: inline-block;
//   position: relative;
//   width: 64px;
//   height: 64px;
//   margin: 30%;
//   margin-bottom: 40%;
// }
// .lds-ring div {
//   box-sizing: border-box;
//   display: block;
//   position: absolute;
//   width: 51px;
//   height: 51px;

//   margin-bottom: 540px;
//   border: 6px solid rgb(252, 4, 4);
//   border-radius: 50%;
//   animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
//   border-color: rgb(252, 4, 4) transparent transparent transparent;
// }
// .lds-ring div:nth-child(1) {
//   animation-delay: -0.45s;
// }
// .lds-ring div:nth-child(2) {
//   animation-delay: -0.3s;
// }
// .lds-ring div:nth-child(3) {
//   animation-delay: -0.15s;
// }
// @keyframes lds-ring {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
.billingBoxCont .single-class .active1 .footerTextPma {
  margin-top: 80px !important;
}
.billingBoxCont .single-class .active .footerTextPma {
  margin-top: 80px !important;
}
.billingBoxCont .single-class {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.billingBox {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.logo {
  font-size: 11px !important;
}
label.labelcolor {
  margin-bottom: 0px !important;
}
fieldset label {
  margin-bottom: 5px !important;
}

/*** Scroll Bar Style ***/

.billingBoxCont::-webkit-scrollbar-track {
  background-color: #f4f6fb;
}

.billingBoxCont::-webkit-scrollbar {
  width: 6px;
  background-color: #f4f6fb;
}

.billingBoxCont::-webkit-scrollbar-thumb {
  background-color: #c5ccce;
}
.new legend.scheduler-border {
  color: #304053 !important;
}
/*** Scroll Bar Style ***/

.billingBox {
  height: 220px !important;
  overflow-y: auto !important;
}
.noBilling button img {
  position: relative;
  top: -4px;
}
.billingModelContainer .bm-main .billingBoxCont {
  overflow-y: inherit !important;
}
.new1 legend.scheduler-border {
  color: #304053 !important;
}
.new2 legend.scheduler-border {
  color: #304053 !important;
}
.active2 .new1 legend.scheduler-border {
  color: #828282 !important;
}
.LinkTag label {
  margin-bottom: 0px !important;
}
.trialPeriod-sub span {
  color: #333333 !important;
  line-height: 14px !important;
  font-size: 11px !important;
}
.trialPeriod-sub label {
  color: #333333 !important;
  line-height: 14px !important;
  font-size: 11px !important;
  margin-left: 10%;
}

.billingModelContainer .bm-main .billingBoxCont .billingBox .boxCont .large .new1 {
  color: #828282;
}
.borderLineS {
  border-bottom: 1px solid #9b9b9b;
  margin-left: 15px;
  position: relative;
  top: 118px;
  width: 87%;
}
.borderLineR {
  border-bottom: 1px solid #9b9b9b;
  position: relative;
  top: 100px;
  width: 86%;
  padding-left: 10px;
  margin-left: 16px;
}
.borderLineRT {
  border-bottom: 1px solid #9b9b9b;
  position: relative;
  top: 80px;
  width: 86%;
  margin-left: 16px;
}
.trialPeriod-sub {
  height: 20px !important;
  float: left;
  line-height: 90% !important ;
}
.new1 {
  float: left;
  width: 100%;
}
.new {
  float: left;
  width: 100%;
}
.extra_box {
  float: left;
  width: 100%;
  height: 50px;
}

.Footergas {
  font-size: 11px;
  font-style: normal !important;
  text-align: center;
  width: 100%;
  float: left;
  color: #000;
}
.billingBox {
  border: none !important;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1) !important;
  border-radius: 6px !important;
}
.billingBox hr {
  float: right;
  width: 92%;
}

.HeadingClass {
  padding-left: 36px;
}
.bm-header .row {
  margin-bottom: 12px !important;
}
.col.text-right button {
  margin-right: 30px !important;
}
.load_sec {
  padding-left: 25px !important;
}
