<div *ngIf="show1">
  <div class="billingModelContainer">
    <div class="bm-header">Billing Models</div>
    <div class="bm-main flex-center-center">
      <div class="noBilling">
        <img src="assets/images/billing-img.png" class="billingImg" width="120" />
        <button href="" routerLink="/pullpayments/step1"><img src="assets/images/plus.svg" /> BILLING MODEL</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="show2">
  <div class="billingModelContainer">
    <!--
      <div class="bm-header">

        <div class="row">
          <div class="col">Billing Models</div>
          <div class="col text-right">
            <button href="" (click)="new()" routerLink="/pullpayments/step1">
              <img src="assets/images/plus.svg" /> NEW
            </button>
          </div>
        </div>
      </div>
    -->

    <div class="bm-header">
      <div class="row">
        <div class="col">Billing Models</div>
        <div class="alertbilling">
          <!-- <div *ngIf="gasBalance <= 0.01"> -->
          <!--
            <label>
              <a class="billingAlert">
                <img height="16" src="assets/images/warning-sign.png" />
                <div class="BillingAlertBody">
                  Your Gas Wallet balance is very low. If you don't have ETH when a customer scans and confirms your Billing Model contracts,the
                  payment will fail
                </div>
              </a>
              <a (click)="open(QRPopup)" class="alertTag"> Send ETH to your Gas Wallet first</a>
            </label>
          -->
        </div>
        <div class="col text-right">
          <button href="" (click)="new()" routerLink="/pullpayments/step1">
            <img src="assets/images/plus.svg" /> NEW
          </button>
        </div>
      </div>
    </div>
    <div class="bm-main flex-center-center">
      <div class="billingBoxCont">
        <div class="row">
          <div *ngFor="let array of sample" class="col-xs-12 col-sm-3 col-md-3 single-class">
            <div (click)="onClick(array.id)" [ngClass]="{ 'billingBox active col-md-12': array.typeID == 2 }">
              <div (click)="onClick(array.id)" [ngClass]="{ 'billingBox active1 col-md-12': array.typeID == 3 }">
                <div (click)="onClick(array.id)" [ngClass]="{ 'billingBox active1 col-md-12': array.typeID == 5 }">
                  <div (click)="onClick(array.id)" [ngClass]="{ 'billingBox active2 col-md-12': array.typeID == 6 }">
                    <div class="boxHead col-md-12">
                      <div class="boxHead col-md-12">
                        <div class="ImgCont" *ngIf="array.typeID == 2">
                          <img src="assets/images/single.png" />
                          <p>Single</p>
                        </div>
                        <div class="ImgCont RecurringClass" *ngIf="array.typeID == 3">
                          <img src="assets/images/recurring.png" />
                          <p>Subscription</p>
                        </div>
                        <div class="ImgCont RecurringClass" *ngIf="array.typeID == 5">
                          <img src="assets/images/recurring.png" />
                          <p>Subscription</p>
                        </div>

                        <div class="ImgCont SingleRecurringClass" *ngIf="array.typeID == 6">
                          <img src="assets/images/single + recurring.png" />
                          <p class="logo">Single + Subscription</p>
                        </div>
                      </div>
                      <div class="boxCont row">
                        <div class="pad-l-20 col-md-12">
                          <p class="number">{{ array.title }}</p>
                          <!--
                            <p class="number" *ngIf="array.typeID == 2">Single</p>
                            <p class="number" *ngIf="array.typeID == 3">Recurring</p>
                            <p class="number" *ngIf="array.typeID == 5">Recurring</p>
                            <p class="number" *ngIf="array.typeID == 6">Single + Recurring</p>
                          -->
                          <div class="LinkTag">
                            <a *ngIf="array.typeID == 2"> </a>
                            <a *ngIf="array.typeID == 3">
                              <span *ngIf="array.data.years != ''">
                                {{ array.data.years }} {{ array.data.years == 1 ? 'year ' : 'years ' }}</span
                              >
                              <span *ngIf="array.data.months != ''"
                                >{{ array.data.months }} {{ array.data.months == 1 ? 'month ' : 'months ' }}
                              </span>
                              <span *ngIf="array.data.weeks != ''"
                                >{{ array.data.weeks }} {{ array.data.weeks == 1 ? 'week ' : 'weeks ' }}
                              </span>
                              <span *ngIf="array.data.days != ''"
                                >{{ array.data.days }}
                                {{ array.data.days == 1 ? 'day
                                ' : 'days ' }}
                              </span>
                            </a>
                            <a *ngIf="array.typeID == 5">
                              <span *ngIf="array.data.years != ''">
                                {{ array.data.years }} {{ array.data.years == 1 ? 'year ' : 'years ' }}</span
                              >
                              <span *ngIf="array.data.months != ''"
                                >{{ array.data.months }} {{ array.data.months == 1 ? 'month ' : 'months ' }}
                              </span>
                              <span *ngIf="array.data.weeks != ''"
                                >{{ array.data.weeks }} {{ array.data.weeks == 1 ? 'week ' : 'weeks ' }}
                              </span>
                              <span *ngIf="array.data.days != ''"
                                >{{ array.data.days }}
                                {{ array.data.days == 1 ? 'day
                                ' : 'days ' }}
                              </span>
                            </a>
                            <a *ngIf="array.typeID == 6">
                              <span *ngIf="array.data.years != ''">
                                {{ array.data.years }} {{ array.data.years == 1 ? 'year ' : 'years ' }}</span
                              >
                              <span *ngIf="array.data.months != ''"
                                >{{ array.data.months }} {{ array.data.months == 1 ? 'month ' : 'months ' }}
                              </span>
                              <span *ngIf="array.data.weeks != ''"
                                >{{ array.data.weeks }} {{ array.data.weeks == 1 ? 'week ' : 'weeks ' }}
                              </span>
                              <span *ngIf="array.data.days != ''"
                                >{{ array.data.days }}
                                {{ array.data.days == 1 ? 'day
                                ' : 'days ' }}
                              </span>
                            </a>
                          </div>
                        </div>
                        <div class="large col-md-12">
                          <div class="new1" *ngIf="array.typeID == 2">
                            <fieldset class="scheduler-border">
                              <legend class="scheduler-border">SINGLE CHARGE</legend>
                              <label class="labelcolor"
                                >{{ array.currency | CustomeCurrency }}{{ array.amount / 100 }}</label
                              >
                            </fieldset>
                          </div>
                          <div class="new2" *ngIf="array.typeID == 3">
                            <fieldset class="scheduler-border">
                              <legend class="scheduler-border">RECURRING CHARGE</legend>
                              <label class="labelcolor"
                                >{{ array.currency | CustomeCurrency }}{{ array.amount / 100 }}</label
                              >
                            </fieldset>
                          </div>
                          <div class="new2" *ngIf="array.typeID == 5">
                            <fieldset class="scheduler-border">
                              <legend class="scheduler-border">RECURRING CHARGE</legend>
                              <label class="labelcolor"
                                >{{ array.currency | CustomeCurrency }}{{ array.amount / 100 }}</label
                              >
                            </fieldset>
                          </div>
                          <div class="new" *ngIf="array.typeID == 6">
                            <fieldset class="scheduler-border">
                              <legend class="scheduler-border">RECURRING CHARGE</legend>
                              <label class="labelcolor"
                                >{{ array.currency | CustomeCurrency }}{{ array.amount / 100 }}</label
                              >
                            </fieldset>
                          </div>
                          <div class="new1" *ngIf="array.typeID == 6">
                            <fieldset class="scheduler-border">
                              <legend class="scheduler-border">INITIAL CHARGE</legend>
                              <label class="intialvalue"
                                >{{ array.currency | CustomeCurrency }}{{ array.initialPaymentAmount / 100 }}</label
                              >
                            </fieldset>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
</div>
<ng-template #QRPopup let-c="close" let-d="dismiss">
  <div class="modelSize2">
    <div class="closeBtn" (click)="d()"><img src="assets/images/Close-Btn.svg" /></div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 cols-md-12"><label>Scan the QR code to Send eth to your gas wallet</label></div>
      <div class="col-xs-12 col-sm-4 cols-md-4 QRCodeClass">
        <div class="qrCont"><ngx-qrcode [(qrc-value)]="value"> </ngx-qrcode></div>
      </div>
      <div class="col-xs-12 col-sm-8 cols-md-8">
        <div class="qrContents">
          <p>
            <span>You need to always fund your Gas wallet with ETH to pay for your gas fees.</span> <br />
            <span>Gas fees are used to execute any transaction over the Ethereum network.</span>
            <span>You will be unable to accept new subscriptions or execute any transfers without enough ETH.</span>
          </p>
          <div class="qrCodeField">
            <input type="text" value="{{treasuryAddress}}" #userinput />
            <img src="assets/images/copy.png" (click)="copyInputMessage(userinput)" value="click to copy" />
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
