<!-- - SINGLE -->

<div class="billingModelContainer" *ngIf="single">
  <div class="bm-header"><b>Billing Model Overview</b></div>

  <div class="bm-main flex-center-center">
    <div class="billingBoxCont">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 single-class">
          <div class="billingBox-single active">
            <div class="boxHead-single">
              <div class="ImgCont"><img src="assets/images/Vector_old.png" width="15" /></div>
              <span>Single</span>
            </div>

            <div class="boxCont">
              <div class="pad-l-20">
                <p>
                  {{ title }}<br />
                  <span>{{ description }}</span>
                </p>
              </div>
              <div class="large">
                <div>
                  <div class="ImgCont"><img src="assets/images/Vector_black.png" /></div>
                  <span>{{ currency | CustomeCurrency }}{{ amount }}</span>
                </div>
              </div>
              <div class="footerText">
                <p>{{ pmaAmount ? pmaAmount : '0.0 PMA' }}</p>
                <span>Subscribers {{ subscribers }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 cols-md-9">
          <div class="product-div">
            <label class="title"
              >{{ title }}<br /><span>{{ description }}</span></label
            ><br />
            <label class="bill-info">Billing Model description.</label> <br />
            <label class="subTitle">{{ billingdescription }}</label>
          </div>

          <div class="product-div">
            <label class="title new_title">Gas funding for EACH subscribed customer</label><br />
            <div class="col-md-8">
              <div class="table-responsive tblMargin">
                <table class="BillingModelTable ZeroMargin">
                  <thead>
                    <tr>
                      <th class="text-left">Transaction</th>
                      <th>Total Estimated Gas cost (ETH)</th>
                    </tr>
                  </thead>
                  <!---->
                  <tbody>
                    <tr>
                      <td class="userId text-left">Single Pull Transaction</td>
                      <td class="total-td">{{ EtherValue ? EtherValue : '0.0' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="product-div-1">
            <label class="title new_title">Contract QR code <img src="assets/images/info-billing.svg"/></label><br />
            <label class="subTitle">Customers can scan the QR Code and approve it in their PumaPay Wallet app.</label>

            <div class="row">
              <div class="col-xs-12 col-sm-3 cols-md-3">
                <div class="QRCode">
                  <!-- <img src="assets/images/QrCode.png" width="150" /> -->
                  <ngx-qrcode
                    class="qr-value"
                    qrc-element-type="canvas"
                    id="qr-value"
                    qrc-element-type="“img”"
                    [(qrc-value)]="value"
                  ></ngx-qrcode>
                  <label class="QR-link" (click)="open(content)">Enlarge<img src="assets/images/enlarge.svg"/></label>
                </div>
              </div>
              <div class="col-xs-12 col-sm-9 cols-md-9">
                <div class="QRContent"><textarea class="int-qrbox" #userinput [(ngModel)]="model.data"></textarea></div>
                <label class="OR-CopyCont" (click)="copyInputMessage(userinput)">Copy Snippet</label>
              </div>
            </div>

            <label class="title new_title">PAYMENT BUTTON <img src="assets/images/info-billing.svg"/></label><br />
            <div class="paymentBtn row">
              <div class="col-md-3 logo3" value="click to copy">
                <img
                  class="pumaButton"
                  id="btBlue"
                  src="assets/images/logo3.png"
                  (click)="openCopyButton(pumacopySingle)"
                /><br />
                <label class="Btn-copy" (click)="copycontent(1)">Copy Button</label>
              </div>
              <div class="col-md-3 logo3" value="click to copy">
                <img class="pumaButton" src="assets/images/logo2.png" (click)="openCopyButton(pumacopySingle)" /><br />
                <label class="Btn-copy" (click)="copycontent(2)">Copy Button</label>
              </div>
              <div class="col-md-3 logo3" value="click to copy">
                <img class="pumaButton" src="assets/images/logo1.png" (click)="openCopyButton(pumacopySingle)" /><br />
                <label class="Btn-copy" (click)="copycontent(3)">Copy Button</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- - SINGLE -->

<!-- - RECURRING -->

<div class="billingModelContainer" *ngIf="recurring">
  <div class="bm-header"><b>Billing Model Overview</b></div>

  <div class="bm-main flex-center-center">
    <div class="billingBoxCont">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 single-class">
          <div class="billingBox active">
            <div class="boxHead">
              <div class="ImgCont"><img src="assets/images/refresh.svg" width="15" /></div>
              <span>RECURRING</span>
            </div>

            <div class="boxCont">
              <div class="pad-l-20">
                <p>
                  {{ title }}<br />
                  <span>{{ description }}</span>
                </p>
                <a>{{ frequency }} days</a>
              </div>
              <div class="large">
                <div>
                  <div class="ImgCont"><img src="assets/images/refresh-b.svg" width="18" /></div>
                  <span>{{ currency | CustomeCurrency }}{{ amount }}</span>
                </div>
              </div>
              <div class="footerText">
                <p>{{ pmaAmount ? pmaAmount : '0.0 PMA' }}</p>
                <span>Subscribers {{ subscribers }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 cols-md-9">
          <div class="product-div">
            <label class="title"
              >{{ title }}<br /><span>{{ description }}</span></label
            ><br />
            <label class="bill-info">Billing Model description.</label> <br />
            <label class="subTitle">{{ billingdescription }}</label>
          </div>

          <div class="product-div">
            <label class="title new_title left">Gas funding for EACH subscribed customer</label><br />
            <div class="table-responsive">
              <table class="BillingModelTable ZeroMargin">
                <thead>
                  <tr>
                    <th>Purpose</th>
                    <th>Number of recurrences</th>
                    <th>
                      Estimated Gas<br />
                      Cost/transaction (ETH)
                    </th>
                    <th>Total Estimated Gas cost (ETH)</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td class="userId">Recurring Pull Transaction</td>
                    <td class="value-td">{{ Recurrences }}</td>
                    <td class="value-td">{{ EtherValue ? EtherValue : '0.0' }}</td>
                    <td class="value-td">{{ data.TotalCost ? data.TotalCost : '0.0' }}</td>
                  </tr>
                  <tr>
                    <td class="userId">Transfers from <br />PullPayment Account to Treasury</td>
                    <td class="value-td">1</td>
                    <td class="value-td">{{ EtherValue ? EtherValue : '0.0' }}</td>
                    <td class="value-td">{{ data.TotalcostRecuurence ? data.TotalcostRecuurence : '0.0' }}</td>
                  </tr>
                  <tr>
                    <td class="userId">Total</td>
                    <td class="value-td"></td>
                    <td class="value-td"></td>
                    <td class="total-td">{{ data.TotalETH ? data.TotalETH : '0.0' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="product-div-2">
            <label class="title new_title">Contract QR code <img src="assets/images/info-billing.svg"/></label><br />
            <label class="subTitle">Customers can scan the QR Code and approve it in their PumaPay Wallet app.</label>

            <div class="row">
              <div class="col-xs-12 col-sm-3 cols-md-3">
                <div class="QRCode">
                  <!-- <img src="assets/images/QrCode.png" width="150" /> -->
                  <ngx-qrcode
                    class="qr-value"
                    qrc-element-type="canvas"
                    id="qr-value"
                    qrc-element-type="“img”"
                    [(qrc-value)]="value"
                  ></ngx-qrcode>
                  <label class="QR-link" (click)="open(content)">Enlarge<img src="assets/images/enlarge.svg"/></label>
                </div>
              </div>
              <div class="col-xs-12 col-sm-9 cols-md-9">
                <div class="QRContent"><textarea class="int-qrbox" #userinput [(ngModel)]="model.data"></textarea></div>
                <label class="OR-CopyCont" (click)="copyInputMessage(userinput)">Copy Snippet</label>
              </div>
            </div>

            <label class="title new_title">PAYMENT BUTTON <img src="assets/images/info-billing.svg"/></label><br />
            <div class="paymentBtn row">
              <div class="col-md-3 logo3" value="click to copy">
                <img
                  class="pumaButton"
                  src="assets/images/logo3.png"
                  (click)="openCopyButton(pumacopyRecurring)"
                /><br />
                <label class="Btn-copy" (click)="copycontentRcurrence(1)">Copy Button</label>
              </div>
              <div class="col-md-3 logo3" value="click to copy">
                <img
                  class="pumaButton"
                  src="assets/images/logo2.png"
                  (click)="openCopyButton(pumacopyRecurring)"
                /><br />
                <label class="Btn-copy" (click)="copycontentRcurrence(2)">Copy Button</label>
              </div>
              <div class="col-md-3 logo3" value="click to copy">
                <img
                  class="pumaButton"
                  src="assets/images/logo1.png"
                  (click)="openCopyButton(pumacopyRecurring)"
                /><br />
                <label class="Btn-copy" (click)="copycontentRcurrence(3)">Copy Button</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="billingModelContainer" *ngIf="recurring">
  <div class="bm-main flex-center-center">
    <div class="transaction-table">
      <div class="row">
        <div class="col"><label>TRANSACTION HISTORY</label></div>
        <div class="col ">
          <div class="text-right">
            <pagination-controls
              (pageChange)="p = $event"
              previousLabel="{{previouslist}}"
              nextLabel="{{nextlist}}"
            ></pagination-controls>
          </div>
        </div>
      </div>
      <table class="table  table-responsive">
        <thead>
          <tr>
            <th>Date</th>
            <th>Payments Completed</th>
            <th>TxHash</th>
            <th>Customer ID</th>
            <th>PullPayments Account Address</th>
            <th>PMA Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let val of (transactionHistorArray | paginate: { itemsPerPage: 10, currentPage: p })">
            <td>{{ val.lastPaymentDate | date: 'dd MMM' }}</td>
            <!-- <td>{{ val.billingModel }}</td> -->
            <!-- <td>Gold</td> -->
            <td>{{ val.statusID }}/6</td>
            <td (click)="txhash(val.hash)">
              <span class="overflow-Address TxHash">{{ val.hash }}</span>
            </td>
            <td>
              <span class="overflow-Address">{{ val.customerAddress }}</span>
            </td>
            <td (click)="pullpaymentaddress(val.pullPaymentAddress)">
              <span class="overflow-Address TxHash">{{ val.pullPaymentAddress }}</span>
            </td>
            <td>{{ val.balance }}</td>
          </tr>

          <!--
            <tr>
              <td>13 Jun</td>
              <td>(2/6)</td>
              <td class="txHash" (click)="txhash()">Oxdf4c18485dea496d6...</td>
              <td>723487</td>
              <td class="txHash">Oxdf4c18485dea496d6...</td>
              <td>230,023.76</td>
            </tr>
            <tr>
              <td>13 Jun</td>
              <td>(2/6)</td>
              <td class="txHash">Oxdf4c18485dea496d6...</td>
              <td>723487</td>
              <td class="txHash">Oxdf4c18485dea496d6...</td>
              <td>230,023.76</td>
            </tr>
            <tr>
              <td>13 Jun</td>
              <td>(2/6)</td>
              <td class="txHash">Oxdf4c18485dea496d6...</td>
              <td>723487</td>
              <td class="txHash">Oxdf4c18485dea496d6...</td>
              <td>230,023.76</td>
            </tr>
          -->
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- - RECURRING -->

<!-- - SINGLE + RECURRING -->

<div class="billingModelContainer" *ngIf="singleRecurring">
  <div class="bm-header"><b>Billing Model Overview</b></div>

  <div class="bm-main flex-center-center">
    <div class="billingBoxCont">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 single-class">
          <div class="billingBox active">
            <div class="boxHead-sigleRecurring">
              <div class="ImgCont"><img src="assets/images/single+recurring.png" /></div>
              <span>SINGLE + RECURRING</span>
            </div>

            <div class="boxCont">
              <div class="pad-l-20">
                <p>
                  {{ title }}<br />
                  <span>{{ description }}</span>
                </p>
                <a>{{ frequency }} days</a>
              </div>
              <div class="large">
                <div>
                  <div class="ImgCont"><img src="assets/images/single+recurring_Group.png" /></div>
                  <span>{{ currency | CustomeCurrency }}{{ amount }}</span>
                </div>
                <div class="largeSmall">
                  <div class="ImgCont"><img src="assets/images/Vector_black.png" /></div>
                  <span>{{ currency | CustomeCurrency }}{{ initalamount }}</span>
                </div>
              </div>
              <br />
              <div class="footerText">
                <p>{{ pmaAmount ? pmaAmount : '0.0 PMA' }}</p>
                <span>Subscribers {{ subscribers }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 cols-md-9">
          <div class="product-div">
            <label class="title"
              >{{ title }}<br /><span>{{ description }}</span></label
            ><br />
            <label class="bill-info">Billing Model description.</label> <br />
            <label class="subTitle">{{ billingdescription }}</label>
          </div>

          <div class="product-div-1">
            <label class="title new_title left">Gas funding for EACH subscribed customer</label><br />
            <div class="table-responsive">
              <table class="BillingModelTable ZeroMargin">
                <thead>
                  <tr>
                    <th>Transaction</th>
                    <th>Number of recurrences</th>
                    <th>
                      Estimated Gas <br />
                      Cost/transaction (ETH)
                    </th>
                    <th>Total Estimated Gas cost (ETH)</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td class="userId">Initial Charge</td>
                    <td class="value-td">1</td>
                    <td class="value-td">{{ EtherValue ? EtherValue : '0.0' }}</td>
                    <td class="value-td">{{ data.initialETH ? data.initialETH : '0.0' }}</td>
                  </tr>

                  <tr>
                    <td class="userId">Recurring Pull Transaction</td>
                    <td class="value-td">{{ Recurrences }}</td>
                    <td class="value-td">{{ EtherValue ? EtherValue : '0.0' }}</td>
                    <td class="value-td">{{ data.RecurrenceETH ? data.RecurrenceETH : '0.0' }}</td>
                  </tr>

                  <tr>
                    <td class="userId">
                      Transfers from <br />
                      PullPayment Account to Treasury
                    </td>
                    <td class="value-td">1</td>
                    <td class="value-td">{{ EtherValue ? EtherValue : '0.0' }}</td>
                    <td class="value-td">{{ data.PullRecurrencecost ? data.PullRecurrencecost : '0.0' }}</td>
                  </tr>

                  <tr>
                    <td class="userId">Total</td>
                    <td class="value-td"></td>
                    <td class="value-td"></td>
                    <td class="total-td">{{ data.TotalETH ? data.TotalETH : '0.0' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="product-div-2">
            <label class="title new_title">Contract QR code <img src="assets/images/info-billing.svg"/></label><br />
            <label class="subTitle">Customers can scan the QR Code and approve it in their PumaPay Wallet app.</label>

            <div class="row">
              <div class="col-xs-12 col-sm-3 cols-md-3">
                <div class="QRCode">
                  <!-- <img src="assets/images/QrCode.png" width="150" /> -->
                  <ngx-qrcode
                    class="qr-value"
                    qrc-element-type="canvas"
                    id="qr-value"
                    qrc-element-type="“img”"
                    [(qrc-value)]="value"
                  ></ngx-qrcode>
                  <label class="QR-link" (click)="open(content)">Enlarge<img src="assets/images/enlarge.svg"/></label>
                </div>
              </div>
              <div class="col-xs-12 col-sm-9 cols-md-9">
                <div class="QRContent"><textarea class="int-qrbox" #userinput [(ngModel)]="model.data"></textarea></div>
                <label class="OR-CopyCont" (click)="copyInputMessage(userinput)">Copy Snippet</label>
              </div>
            </div>

            <label class="title new_title">PAYMENT BUTTON <img src="assets/images/info-billing.svg"/></label><br />
            <div class="paymentBtn row">
              <div class="col-md-3 logo3" value="click to copy">
                <img class="pumaButton" src="assets/images/logo3.png" (click)="openCopyButton(pumacopyHybrid)" /><br />
                <label class="Btn-copy" (click)="hybridCopyButton(1)">Copy Button</label>
              </div>

              <div class="col-md-3 logo3" value="click to copy">
                <img class="pumaButton" src="assets/images/logo2.png" (click)="openCopyButton(pumacopyHybrid)" /><br />
                <label class="Btn-copy" (click)="hybridCopyButton(2)">Copy Button</label>
              </div>
              <div class="col-md-3 logo3" value="click to copy">
                <img class="pumaButton" src="assets/images/logo1.png" (click)="openCopyButton(pumacopyHybrid)" /><br />
                <label class="Btn-copy" (click)="hybridCopyButton(3)">Copy Button</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="billingModelContainer" *ngIf="singleRecurring">
  <div class="bm-main flex-center-center">
    <div class="transaction-table">
      <div class="row">
        <div class="col"><label>TRANSACTION HISTORY</label></div>
        <div class="col ">
          <div class="text-right">
            <pagination-controls
              (pageChange)="p = $event"
              previousLabel="{{previouslist}}"
              nextLabel="{{nextlist}}"
            ></pagination-controls>
          </div>
        </div>
      </div>
      <table class="table  table-responsive">
        <thead>
          <tr>
            <th>Date</th>
            <th>Payments Completed</th>
            <th>TxHash</th>
            <th>Customer ID</th>
            <th>PullPayments Account Address</th>
            <th>PMA Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let val of (transactionHistorArray | paginate: { itemsPerPage: 10, currentPage: p })">
            <td>{{ val.lastPaymentDate | date: 'dd MMM' }}</td>
            <!-- <td>{{ val.billingModel }}</td> -->
            <!-- <td>Gold</td> -->
            <td>{{ val.statusID }}/6</td>
            <td (click)="txhash(val.hash)">
              <span class="overflow-Address TxHash">{{ val.hash }}</span>
            </td>
            <td>
              <span class="overflow-Address">{{ val.customerAddress }}</span>
            </td>
            <td (click)="pullpaymentaddress(val.pullPaymentAddress)">
              <span class="overflow-Address TxHash">{{ val.pullPaymentAddress }}</span>
            </td>
            <td>{{ val.balance }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- - SINGLE + RECURRING -->

<ng-template id="content" #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <label>Contract QR code <img src="assets/images/info-billing.svg"/></label><br />
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modelSize"><img class="qr-enlarge" src="{{model.qrSrc}}" /> <img /></div>
</ng-template>

<ng-template #pumacopySingle let-c="close" let-d="dismiss">
  <div id="pops" class="modal-header">
    <label class="md-title">Contract Details</label><br />
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modelSize2">
    <div>
      <div class="qr-image">
        <ngx-qrcode
          class="qr-value"
          qrc-element-type="canvas"
          id="qr-value"
          qrc-element-type="“img”"
          [(qrc-value)]="value"
        ></ngx-qrcode>
      </div>
    </div>
    <div class="row box-main ">
      <div class="col-xs-12 col-sm-7 col-md-7">
        <div class="data-info">
          <table>
            <tbody>
              <tr>
                <td><img class="img-size" src="assets/images/amount.svg" /></td>
                <td>Amount: {{ currency | CustomeCurrency }}{{ amount }} PMA</td>
              </tr>
              <tr>
                <td><img class="img-size" src="assets/images/cycle.svg" /></td>
                <td>Transfer: Instantly</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <label class="tit-text">{{ title }}</label> <br />
        <label class="bm-text">{{ description }}</label> <br />
        <label class="bill-info">Billing Model description.</label> <br />
        <label class="bill-info1">{{ billingdescription }}</label>
        <!--
          <label class="bill-info">
            Explain briefly what your Billing Model offers Billing Model description.Explain briefly what your Billing
            Model offers
          </label>
        -->
      </div>
    </div>
  </div>
</ng-template>

<ng-template #pumacopyRecurring let-c="close" let-d="dismiss">
  <div class="modal-header">
    <label class="md-title">Contract Details</label><br />
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modelSize2">
    <div>
      <div class="qr-image">
        <ngx-qrcode
          class="qr-value"
          qrc-element-type="canvas"
          id="qr-value"
          qrc-element-type="“img”"
          [(qrc-value)]="value"
        ></ngx-qrcode>
      </div>
    </div>
    <div class="row box-main ">
      <div class="col-xs-12 col-sm-7 col-md-7">
        <div class="data-info">
          <table>
            <tbody>
              <tr>
                <td><img class="img-size" src="assets/images/amount.svg" /></td>
                <td>Amount: {{ currency | CustomeCurrency }}{{ amount }} PMA</td>
              </tr>
              <tr *ngIf="trialPeriod != 0">
                <td><img class="img-size" src="assets/images/period.svg" /></td>
                <td>Trial Period: {{ trialPeriod }} days</td>
              </tr>
              <tr>
                <td><img class="img-size" src="assets/images/billingcycle.svg" /></td>
                <td>Billing Cycle: {{ frequency }} Days</td>
              </tr>
              <tr>
                <td><img class="img-size" src="assets/images/cycle.svg" /></td>
                <td>Recurrences: {{ Recurrences }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <label class="tit-text">{{ title }}</label
        ><br />
        <label class="bm-text">{{ description }}</label
        ><br />
        <label class="bill-info">Billing Model description.</label> <br />
        <label class="bill-info1">{{ billingdescription }}</label>
        <!--
          <label class="bill-info">
            Explain briefly what your Billing Model offers Billing Model description.Explain briefly what your Billing
            Model offers
          </label>
        -->
      </div>
    </div>
  </div>
</ng-template>

<ng-template #pumacopyHybrid let-c="close" let-d="dismiss">
  <div class="modal-header">
    <label class="md-title">Contract Details</label><br />
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modelSize2">
    <div>
      <div class="qr-image">
        <ngx-qrcode
          class="qr-value"
          qrc-element-type="canvas"
          id="qr-value"
          qrc-element-type="“img”"
          [(qrc-value)]="value"
        ></ngx-qrcode>
      </div>
    </div>
    <div class="row box-main ">
      <div class="col-xs-12 col-sm-7 col-md-7">
        <div class="data-info">
          <table>
            <tbody>
              <tr>
                <td><img class="img-size" src="assets/images/initial.svg" /></td>
                <td>Initial: {{ currency | CustomeCurrency }}{{ initalamount }} PMA</td>
              </tr>
              <tr>
                <td><img class="img-size" src="assets/images/amount.svg" /></td>
                <td>Amount: {{ currency | CustomeCurrency }}{{ amount }} PMA</td>
              </tr>
              <tr>
                <td><img class="img-size" src="assets/images/period.svg" /></td>
                <td>Billing Starts: {{ BillingPeriod }}</td>
              </tr>
              <tr>
                <td><img class="img-size" src="assets/images/billingcycle.svg" /></td>
                <td>Payment Cycle: {{ frequency }} days</td>
              </tr>
              <tr>
                <td><img class="img-size" src="assets/images/cycle.svg" /></td>
                <td>Recurrences: {{ Recurrences }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <label class="tit-text">{{ title }}</label> <br />
        <label class="bm-text">{{ description }}</label
        ><br />
        <label class="bill-info">Billing Model description.</label> <br />
        <label class="bill-info1">{{ billingdescription }}</label>
        <!--
          <label class="bill-info">
            Explain briefly what your Billing Model offers Billing Model description.Explain briefly what your Billing
            Model offers
          </label>
        -->
      </div>
    </div>
  </div>
</ng-template>
