<!--
  <div class="mainContent">
    <label class="titleOne">GAS FUNDING FOR EACH SUBSCRIBED CUSTOMER</label>
    <div class="sTable">
      <div class="row">
        <div class="bgSet col-md-3">Transaction</div>
        <div class="bgSet txt-align col-md-3">Total Estimated Gas cost (ETH)</div>
      </div>
      <div class="row">
        <div class="bgSet col-md-3">Single Pull Transaction</div>
        <div class="bgSet2 col-md-3">{{ model.EtherValue }}</div>
      </div>
    </div>
    <div class="txtContent">
      <img src="assets/images/info.png" class="info" />
      <label class="titleFun">Funding the PullPayment Accounts with Gas</label>
      <label class="titleContent">
        Every time a new customer subscribes to a billing model, the system creates a new PullPayment account. The
        PullPayment account will continuously bill the customer according to the billing model’s parameters. The PMA
        tokens will be kept in the PullPayment account until they are transferred to the Treasury.
      </label>
      <label class="titleContent"
        >Choose how often you want to transfer funds from all the PullPayment accounts associated with this billing model
        to your Treasury. Depending on your choice, the specific amount of ETH is allocated for those recurring payments
        to pay for the gas fees of the transfer to the Treasury.
      </label>
      <label class="tContent"> Learn more </label>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 FooterDiv">
      <button class="backbtn" (click)="onBack()">Back</button>
      <button class=" continuebtn" (click)="onPublish()">Publish</button>
    </div>
  </div>
-->

<div class="mainContent">
  <label class="titleOne">Transfer from PullPayment Accounts to Treasury</label><br />
  <label class="subtitle"
    >You will receive your funds from the PullPayment Accounts immediately after your customers confirm the contract and
    place their payment.</label
  >
  <div class="tablecontent">
    <label class="tabletitle">Gas cost</label>
    <div class="row noMargin">
      <div class="col-xs-12 col-sm-10 col-md-10">
        <table>
          <tr>
            <td>Transaction</td>
            <td>Number of recurrences</td>
            <td>Estimated Gas <br />Cost/transaction (ETH)</td>
            <td>Total Estimated Gas cost (ETH)</td>
          </tr>
          <tr>
            <td>Single pull transaction</td>
            <td class="tablevalue">{{ SingleRecurrence }}</td>
            <td class="tablevalue">{{ model.EtherValue }}</td>
            <td class="tablevalue">{{ model.SingleETH }}</td>
          </tr>
          <tr>
            <td>
              Transfers from<br />
              PullPayment Account to Treasury
            </td>
            <td class="tablevalue">{{ TransferRecurrence }}</td>
            <td class="tablevalue">{{ model.EtherValue }}</td>
            <td class="tablevalue">{{ model.TransferETH }}</td>
          </tr>
          <tr>
            <td>Total</td>
            <td class="tablevalue"></td>
            <td class="tablevalue"></td>
            <td class="tableresult">
              <span class="Totalvalue">{{ model.TotalETH }}</span>
              <span class="TotalUSD">(~${{ model.TotalUSD }})</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">
        <label class="Pricedecription"
          >will be paid for <b>Gas fees</b><br />
          every time a new customer subscribes</label
        >
      </div>
    </div>
  </div>
  <div class="textcontent">
    <img src="assets/images/info.svg" />
    <p class="contenttitle">PullPayment Accounts and Gas Costs</p>
    <label class="sublabel">
      <span class="subcontent"
        ><b>Every</b> time a <b>new customer</b> subscribes to a billing model, the system creates a
        <b>new PullPayment account.</b></span
      ><br />
      <span class="subcontent"
        >The <b>PMA</b> tokens will be kept <b>in the PullPayment account</b> until they are transferred to the
        Treasury.</span
      ><br />
      <span class="subcontent">The creation of a new account and the token transfer requires ETH. </span><br />
      <span class="subcontent">You need to have enough ETH in your Gas Wallet for the payment to occur.</span> </label
    ><br />
    <a class="tContent" href="https://wiki.pumapay.io/#/page/portalbillingmodels" target="_blank"> Learn more </a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 FooterDiv">
    <button class="backbtn" (click)="onBack()">Back</button>
    <button class=" continuebtn" (click)="onPublish()">Publish</button>
  </div>
</div>
