<div class="mainContent">
  <label class="titleOne">Transfer from PullPayment Accounts to Treasury</label><br />
  <label class="subtitle"
    >You will receive your funds from the PullPayment Accounts immediately after your customers confirm the contract and
    place their payment.</label
  >
  <div class="tablecontent">
    <label class="tabletitle">Gas cost</label>
    <div class="row noMargin">
      <div class="col-xs-12 col-sm-10 col-md-10">
        <table>
          <tr>
            <td>Transaction</td>
            <td>Number of subscriptions</td>
            <td>Estimated Gas <br />Cost/transaction (ETH)</td>
            <td>Total Estimated Gas cost (ETH)</td>
          </tr>
          <tr>
            <td>Single pull transaction</td>
            <td class="tablevalue">{{ SingleRecurrence }}</td>
            <td class="tablevalue">
              <span class="Totalvalue">{{ model.recurrencegas }}</span>
              <span class="TotalUSD">(~${{ model.SingleGasUSD }})</span>
            </td>
            <td class="tablevalue">
              <span class="Totalvalue">{{ model.SingleETH }}</span>
              <span class="TotalUSD">(~${{ model.SingleUSD }})</span>
            </td>
          </tr>
          <tr>
            <td>
              Transfers from<br />
              PullPayment Account to Treasury
            </td>
            <td class="tablevalue">{{ TransferRecurrence }}</td>
            <td class="tablevalue">
              <span class="Totalvalue">{{ model.Transfergas }}</span>
              <span class="TotalUSD">(~${{ model.TransferGasUSD }})</span>
            </td>
            <td class="tablevalue">
              <span class="Totalvalue">{{ model.TransferETH }}</span>
              <span class="TotalUSD">(~${{ model.TransferUSD }})</span>
            </td>
          </tr>
          <tr>
            <td>Total</td>
            <td class="tablevalue"></td>
            <td class="tablevalue"></td>
            <td class="tableresult">
              <span class="Totalvalue">{{ model.TotalETH }}</span>
              <span class="TotalUSD">(~${{ model.TotalUSD }})</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">
        <label class="Pricedecription"
          >will be paid for <b>Gas fees</b><br />
          every time a new customer subscribes</label
        >
      </div>
    </div>
  </div>
  <div class="textcontent">
    <img src="assets/images/info.svg" />
    <p class="contenttitle">PullPayment Accounts and Gas Costs</p>
    <label class="sublabel">
      <span class="subcontent"
        ><b>Every</b> time a <b>new customer</b> signs up to a Single billing model, the system creates a
        <b>new PullPayment account.</b></span
      ><br />
      <span class="subcontent"
        >The <b>PMA</b> tokens will be kept <b>in the PullPayment account</b> until they are transferred to the
        Treasury.</span
      ><br />
      <span class="subcontent">The creation of a new account and the token transfer requires ETH. </span><br />
      <span class="subcontent"
        >You need to have enough ETH in your Gas Wallet to facilitate both transactions.</span
      > </label
    ><br />
    <a class="tContent" href="https://wiki.pumapay.io/#/page/portalbillingmodels" target="_blank"> Learn more </a>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 FooterDiv">
    <button class="backbtn" (click)="onBack()">Back</button>
    <button class=" continuebtn" (click)="onPublish()">Publish</button>
  </div>
</div>
