<section class="dashboardContainer">
  <div class="row">
    <div class="col">
      <div class="pma-box active">
        <div>
          <label class="dash_widget_title white">Treasury</label>
          <a class="gasAlert">
            <div class="GasAlertBodywhite">
              Your Treasury is your PMA wallet where your customers’ payments will be transferred...
            </div>
            <img class="curPoint" src="assets/images/Info_Grey.png" />
          </a>
          <p>
            <span class="bold">{{ treasuryBalance ? treasuryBalance : '0.00' }}</span>
            <span class="small">{{ treasuryCurrency ? treasuryCurrency : 'PMA' }}</span>
          </p>
          <span class="min_small white">${{ usdTreasuryBal ? usdTreasuryBal : '0.00' }}</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="pma-box">
        <div>
          <label class="dash_widget_title">Transferred Accounts</label>
          <a class="gasAlert">
            <div class="GasAlertBodywhite">Your Accounts</div>
            <img class="curPoint" src="assets/images/Info_Grey.png" />
          </a>
          <p>
            <span class="bold blue">{{ pullPaymentsBalance ? pullPaymentsBalance : '0.00' }}</span>
            <span class="small">{{ pullPaymentsCurrency ? pullPaymentsCurrency : 'PMA' }}</span>
          </p>
          <span class="min_small">${{ usdPullPayBalance ? usdPullPayBalance : '0.00' }}</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="pma-box active">
        <div class="ETHclass">
          <label class="dash_widget_title white"> ETH Balance </label>
          <a class="gasAlert">
            <div class="GasAlertBodywhite">Your ETH Balance</div>
            <img class="curPoint" src="assets/images/Info_Grey.png" />
          </a>
          <a *ngIf="gasBalance <= 0.01" class="gasAlert">
            <div class="GasAlertBody">
              Your ETH Balance balance is very low. If you don't have ETH when a customer scans and confirms your
              Billing Model contracts, the payment will fail
            </div>
            <img class="warn" src="assets/images/warning-sign.png" />
          </a>
          <div class="row col-xs-12 col-sm-12 cols-md-12">
            <div class="cols-md-8">
              <p>
                <span class="bold white">{{ gasBalance ? gasBalance : '0.00' }}</span>
                <span class="small">{{ gasCurrency ? gasCurrency : 'ETH' }}</span>
              </p>
              <span class="min_small white">${{ usdGasBalance ? usdGasBalance : '0.00' }}</span>
            </div>
            <div class="imgSpace cols-md-4"><img class="curPoint" [src]="imgSrc" (click)="open(content)" /></div>
          </div>
          <h3></h3>
          <p></p>
        </div>
      </div>
    </div>
  </div>

  <div class="barcodeborder" *ngIf="qrShow">
    <div class="row barbody">
      <div class="col-xs-12 col-sm-12 cols-md-12"><label>Scan the QR code to send ETH to your ETH Balance</label></div>
      <div class=" QRCodeClass">
        <div class="qrCont"><ngx-qrcode [(qrc-value)]="value"> </ngx-qrcode></div>
      </div>
      <div class="" style="width:calc(100% - 180px); display:inline-block; vertical-align:top;">
        <div class="qrContents">
          <p>
            <span>You need to always fund your balance with ETH to pay for your gas fees.</span> <br />
            <span>Gas fees are used to execute any transaction over the Ethereum network.</span> <br />
            <span
              >You will be unable to accept new subscriptions or execute any transfers <br />without enough ETH.</span
            >
            <span class="learnMore" (click)="learnMore()"> Learn More ></span>
          </p>
          <div class="qrCodeField">
            <input readonly type="text" value="{{treasuryAddress}}" #userinput />
            <img src="assets/images/copy.png" (click)="copyInputMessage(userinput)" value="click to copy" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="transaction-table" *ngIf="pageShow">
    <div class="row">
      <div class="col"><label>Transaction History</label></div>
      <div class="col ">
        <div class="text-right">
          <pagination-controls
            *ngIf="pageShow"
            (pageChange)="p = $event"
            previousLabel="{{previouslist}}"
            nextLabel="{{nextlist}}"
          ></pagination-controls>
        </div>
      </div>
    </div>
    <table class="table table-responsive dInlineTable">
      <thead>
        <tr>
          <th>Date</th>
          <th>Billing Model</th>
          <!-- <th>Status</th> -->
          <th>TxHash</th>
          <!-- <th>Customer ID</th> -->
          <th>Customer address</th>
          <th>PullPayments Account Address</th>
          <!-- <th>PMA Balance</th> -->
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let val of (transactionHistorArray | paginate: { itemsPerPage: 10, currentPage: p })">
          <td>{{ val.timeStamp * 1000 | date: 'dd MMM' }}</td>
          <!-- <td>{{ val.billingModel }}</td> -->
          <td>{{ val.billName }}</td>
          <!-- <td>{{ val.statusID }}/6</td> -->
          <td (click)="txhash(val.hash)">
            <span class="overflow-Address TxHash">{{ val.hash }}</span>
          </td>
          <td>
            <span class="overflow-Address">{{ val.from }}</span>
          </td>
          <td (click)="pullpaymentaddress(val.to)">
            <span class="overflow-Address TxHash">{{ val.to }}</span>
          </td>
          <td>{{ (val.value / 1000000000000000000).toFixed(5) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<ng-template class="noRadius" id="content" #content let-c="close" let-d="dismiss">
  <img class="closeIcon" src="assets/images/Close.png" (click)="d('Cross click')" />
  <div>
    <div class="row modalQr">
      <div class="col-xs-12 col-sm-12 cols-md-12"><label>Scan the QR code to send ETH to your ETH Balance</label></div>
      <div class=" QRCodeClass">
        <div class="qrCont"><ngx-qrcode [(qrc-value)]="value"> </ngx-qrcode></div>
      </div>
      <div class="" style="width:calc(100% - 180px); display:inline-block; vertical-align:top;">
        <div class="qrContents">
          <p>
            <span>You need to always fund your balance with ETH to pay for your gas fees.</span> <br />
            <span>Gas fees are used to execute any transaction over the Ethereum network.</span> <br />
            <span
              >You will be unable to accept new subscriptions or execute any transfers <br />without enough ETH.</span
            >
            <span class="learnMore" (click)="learnMore()"> Learn More ></span>
          </p>
          <div class="qrCodeField">
            <input readonly type="text" value="{{treasuryAddress}}" #userinput />
            <img
              class="imgModel"
              src="assets/images/copy.png"
              (click)="copyInputMessage(userinput)"
              value="click to copy"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
