@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css";

.dashboardContainer {
  height: auto;
  padding: 24px 46px;
  background-color: #ffffff;
  label {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .transaction-table {
    margin-top: 50px;
    label {
      margin-bottom: 0px;
      font-weight: 600;
      font-size: 15px;
    }
    table {
      border: 1px solid #c4c8d1;
      width: 100%;
      thead {
        width: 100%;
        tr {
          th {
            font-size: 15px;
            font-weight: normal;
            text-align: left;
            color: #556486;
          }
        }
      }
      tbody {
        width: 100%;
        tr {
          td {
            font-size: 14px;
            color: #9b9b9b;
          }
          background-color: #f4f6fb;
        }
      }
    }
    table td {
      padding: 0.75em 0.1em 0.75em 1.1em !important;
      text-align: left !important;
    }
  }
  .pma-box {
    width: 100%;
    margin-bottom: 30px;
    background-color: #d8e0ef;
    height: 140px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    h3 {
      font-size: 20px;
      margin-bottom: 2px;
      color: #333333;
    }
    p {
      font-size: 18px;
      margin-bottom: 0px;
      color: #333333;
    }
  }
  .pma-box.active {
    background-color: #1c67f5;
    h3 {
      color: #ffffff;
    }
    p {
      color: #ffffff;
    }
  }
  .qrCodeContainer {
    .qrCont {
      margin-top: 10px;
      img {
        // margin-right: 20px;
        width: 120px;
      }
      .qrContents {
        display: inline-block;
        vertical-align: top;
        position: relative;
        height: 120px;
        p {
          font-size: 12px;
          color: #9b9b9b;
        }
        .qrCodeField {
          position: absolute;
          bottom: 0px;
          input {
            width: 300px;
            height: 40px;
            padding: 0px 50px 0px 10px;
            border: 1px solid #cccccc;
          }
          img {
            height: 43px;
            width: 43px;
            position: absolute;
            right: -3px;
            margin-right: 0px;
          }
        }
      }
    }
  }
  ul.pagination {
    margin-bottom: 6px;
    float: right;
    li {
      padding: 6px 1px;
      a {
        border: none;
        border-radius: 50%;
      }
      a.active {
        background-color: #1c67f5;
        color: #ffffff;
      }
    }
  }
  ul.pagination li:first-child,
  ul.pagination li:last-child {
    padding: 0px;
  }
}

.qrContents {
  margin-top: 10px !important;
  margin-left: 6%;
}

.qrContents p {
  font-size: 13px !important;
  color: #9b9b9b !important;
  line-height: 2em;
}
.dInlineTable {
  display: inline-table !important;
}
.qrCont img {
  margin: 0px 0px 0px -13px !important;
}
.qrCodeField {
  margin-top: 20px !important;
}
.QRCodeClass {
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 175px;
  display: inline-block;
  vertical-align: top;
}
.table th,
.table td {
  padding: 0.9rem !important;
  vertical-align: top !important;
  border-top: 1px solid #e3ebf3 !important;
}

.table .overflow-Address {
  white-space: nowrap;
  width: 150px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.TxHash {
  color: #1c67f5;
  cursor: pointer;
}
.qrCodeField input[type="text"] {
  width: 85% !important;
  padding: 7px 15px !important;
  font-size: 14px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.qrCodeField img {
  cursor: pointer;
}
@media (min-width: 1920px) {
  .qrContents {
    margin-left: 0% !important;
  }
  .dashboardContainer .transaction-table table thead tr th {
    width: 100px !important;
    text-align: left;
  }
}
:host {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.text-center {
  text-align: center;
}

.list {
  max-width: 550px;
  margin: auto;
}

li {
  margin-bottom: 5px;
}
.ngx-pagination .current {
  border-radius: 100% !important;
}
.learnMore {
  color: #1e6af6;
  cursor: pointer;
}
.gasAlert {
  position: relative;
  margin-left: 6px;
  z-index: 1;
  .GasAlertBody {
    position: absolute;
    top: 23px;
    left: -92px;
    background-color: #000000;
    color: #ffffff;
    display: none;
    padding: 15px 10px;
    border-radius: 5px;
    min-width: 240px;
    font-size: 11px;
  }
  .GasAlertBody:before {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    position: absolute;
    top: -5px;
    left: 220px;
  }
  .GasAlertBodywhite {
    position: absolute;
    top: 30px;
    left: -60px;
    color: #000000;
    background-color: #fcfdff;
    display: none;
    padding: 15px 10px;
    border-radius: 5px;
    min-width: 180px;
    font-size: 11px;
  }
  .GasAlertBodywhite:before {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fcfdff;
    position: absolute;
    top: -5px;
    left: 65px;
  }
}
.gasAlert img {
  width: 20px;
  height: 20px;
}
.gasAlert:hover .GasAlertBody {
  display: block;
}
.gasAlert:hover .GasAlertBodywhite {
  display: block;
}
.pma-box.active p {
  color: #ffffff;
}
.dash_widget_title {
  padding-right: 8px;
  padding-bottom: 25px;
}
.white {
  color: #ffffff;
}
.blue {
  color: #1e6af6;
}

.bold {
  font-size: 20px;
  font-weight: bold;
}
.small {
  font-size: 15px;
  padding-left: 8px;
}
.min_small {
  font-size: 14px !important;
  padding-top: 10px;
}

.space {
  padding-left: 8px;
  padding-top: 3px;
}

.ETHclass {
  width: 100%;
}

.warn {
  float: right !important;
}
.barcodeborder {
  border: 1px solid #d4d8df;
  box-shadow: 0px 4px 10px rgba(218, 218, 218, 0.25);
  border-radius: 6px;
}
.barbody {
  width: 640px;
  margin: 100px auto;
}
.imgSpace {
  padding-top: 15px;
  padding-left: 20px;
  height: 50px;
  width: 50px;
}

.closeIcon {
  float: right;
  margin-right: 30px;
  margin-top: 30px;
  cursor: pointer;
}
// .modal_show{
// border-radius: 0px !important;
// }
.curPoint {
  cursor: pointer;
}
.modalQr {
  width: 660px;
  margin: 50px 45px 45px 50px !important;
}
.modal-content {
  border-radius: 0px !important;
}
