<section class="dashboardContainer">
  <div class="row">
    <div class="col">
      <label>Treasury</label>
      <div class="pma-box active">
        <div>
          <h3>{{ treasuryCurrency ? treasuryCurrency : 'PMA' }}</h3>
          <p>{{ treasuryBalance ? treasuryBalance : '0.0' }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <label>PullPayments</label>
      <div class="pma-box">
        <div>
          <h3>{{ pullPaymentsCurrency ? pullPaymentsCurrency : 'PMA' }}</h3>
          <p>{{ pullPaymentsBalance ? pullPaymentsBalance : '0.0' }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <label>
        Gas Wallet
        <a *ngIf="gasBalance <= 0.01" class="gasAlert">
          <img src="assets/images/warning-sign.png" />
          <div class="GasAlertBody">
            Your Gas Wallet balance is very low. If you don't have ETH when a customer scans and confirms your Billing
            Model contracts, the payment will fail
          </div>
        </a>
      </label>
      <div class="pma-box active">
        <div>
          <h3>{{ gasCurrency ? gasCurrency : 'ETH' }}</h3>
          <p>{{ gasBalance ? gasBalance : '0.0' }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 cols-md-12"><label>Scan the QR code to send ETH to your Gas wallet</label></div>
    <div class="col-xs-12 col-sm-2 cols-md-2 QRCodeClass">
      <div class="qrCont"><ngx-qrcode [(qrc-value)]="value"> </ngx-qrcode></div>
    </div>
    <div class="col-xs-12 col-sm-10 cols-md-10">
      <div class="qrContents">
        <p>
          <span>You need to always fund your Gas wallet with ETH to pay for your gas fees.</span><br />
          <span>Gas fees are used to execute any transaction over the Ethereum network.</span><br />
          <span>You will be unable to accept new subscriptions or execute any transfers <br />without enough ETH.</span>
          <span class="learnMore" (click)="learnMore()"> Learn More ></span>
        </p>
        <div class="qrCodeField">
          <input readonly type="text" value="{{treasuryAddress}}" #userinput />
          <img src="assets/images/copy.png" (click)="copyInputMessage(userinput)" value="click to copy" />
        </div>
      </div>
    </div>
  </div>

  <div class="transaction-table">
    <div class="row">
      <div class="col"><label>Transaction History</label></div>
      <div class="col ">
        <div class="text-right">
          <pagination-controls
            *ngIf="pageShow"
            (pageChange)="p = $event"
            previousLabel="{{previouslist}}"
            nextLabel="{{nextlist}}"
          ></pagination-controls>
        </div>
      </div>
    </div>
    <table class="table table-responsive dInlineTable">
      <thead>
        <tr>
          <th>Date</th>
          <th>Billing Model</th>
          <!-- <th>Status</th> -->
          <th>TxHash</th>
          <!-- <th>Customer ID</th> -->
          <th>Customer address</th>
          <th>PullPayments Account Address</th>
          <!-- <th>PMA Balance</th> -->
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let val of (transactionHistorArray | paginate: { itemsPerPage: 10, currentPage: p })">
          <td>{{ val.timeStamp | date: 'dd MMM' }}</td>
          <!-- <td>{{ val.billingModel }}</td> -->
          <td>{{ val.billName }}</td>
          <!-- <td>{{ val.statusID }}/6</td> -->
          <td (click)="txhash(val.hash)">
            <span class="overflow-Address TxHash">{{ val.hash }}</span>
          </td>
          <td>
            <span class="overflow-Address">{{ val.from }}</span>
          </td>
          <td (click)="pullpaymentaddress(val.to)">
            <span class="overflow-Address TxHash">{{ val.to }}</span>
          </td>
          <td>{{ (val.value / 1000000000000000000).toFixed(5) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
