// .mainContent {
//   background-color: white;
// }
// .billingModelContainer {
//   width: 100%;
//   margin-bottom: 20px;
//   .bmr-header {
//     background-color: #fcfdff;
//     height: 50px;
//     margin-bottom: 2px;
//     padding: 18px 30px;
//     font-size: 18px;
//     font-style: "bold";
//     .text-right {
//       text-align: right;
//     }
//   }
// }

// .bmr-main {
//   background-color: #ffffff;
//   padding: 50px 30px;
//   min-height: 120px;

//   .billingBoxCont {
//     width: 100%;
//     label {
//       font-style: 11px;
//       color: #333333;
//       // margin-left: 20px;
//     }
//     select {
//       width: 420px;
//       height: 38px;
//       // border-color: #ccd1d9 solid;
//       background-color: #ffffff;
//       font-size: 14px;
//       line-height: 21px;
//       border-radius: 3px;
//       padding: 0px 20px;
//       border: none;
//       // margin-left: 10px;
//       box-shadow: 1px 1px #ccd1d9;
//     }
//     input {
//       width: 300px;
//       height: 38px;
//       border-radius: 1px;
//       padding: 0px 20px;
//       font-size: 14px;
//       line-height: 21px;
//       ::placeholder {
//         color: #bdbdbd;
//       }
//     }
//     .amountinput {
//       margin: 0px 10px;
//     }
//     .singleimg {
//       width: 222px;
//       height: 442px;
//     }

//     .continuebtn {
//       display: block;
//       background-color: #1c67f5;
//       color: #ffffff;
//       width: 180px;
//       height: 38px;
//       border-radius: 3px;
//       border: none;
//       margin-top: 25px;
//       cursor: pointer;
//       box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
//       float: right;
//     }
//   }
// }

// .flex-center-center {
//   display: flex;
//   align-items: left;
//   justify-content: left;
// }

// .txtContent {
//   padding: 20px;
//   background-color: #f7f8fb;
// }

// .titleFun {
//   font-size: 15px;
//   font-weight: 600;
// }
// .info {
//   padding-right: 10px;
// }
// .titleContent {
//   font-size: 12px;
//   padding-top: 10px;
// }
// .tContent {
//   font-size: 12px;
//   padding-top: 10px;
//   color: #0064ff;
// }
// .TableData {
//   margin-left: 0px;
//   margin-top: 20px;
//   margin-bottom: 40px;
// }
// .Columndata {
//   background-color: #f7f8fb;
//   padding: 12px;
//   font-size: 13px;
//   font-weight: 300;
// }
// .Columndata2 {
//   background-color: #669bff;
//   align-content: center;
//   font-size: 12px;
//   text-align: center;
//   padding-top: 8px;
// }
// .Columndata2.bor_line {
//   color: #ffffff !important;
// }
// .continuebtn {
//   display: block;
//   background-color: #1c67f5;
//   color: #ffffff;
//   width: 180px;
//   height: 38px;
//   border-radius: 3px;
//   border: none;
//   margin-top: 25px;
//   cursor: pointer;
//   box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
//   float: right;
// }
// .backbtn {
//   display: block;
//   background-color: #ffffff;
//   color: #1c67f5;
//   width: 180px;
//   height: 38px;
//   border-radius: 3px;
//   border-color: #1c67f5;
//   margin-top: 25px;
//   cursor: pointer;
//   box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
//   float: left;
// }

// .bor_line {
//   border: 2px #ffffff solid;
//   text-align: center;
//   color: #556486 !important;
// }
// .txt-ctr {
//   text-align: center !important;
//   border-bottom: 1px #ffffff solid;
// }
// .right-bor {
//   border-right: 1px #ffffff solid;
// }
// .padd_left {
//   padding-left: 0px !important;
// }
.mainContent {
  background-color: white;
}
.titleOne {
  font-size: 15px;
  padding-top: 10px;
  padding-left: 3.4%;
  font-weight: bold;
}
.subtitle {
  font-size: 11px;
  padding-left: 3.4%;
}
.tabletitle {
  font-size: 15px;
  padding-top: 20px;
  padding-left: 3.4%;
  font-weight: bold;
}
select {
  width: 420px;
  height: 38px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  border-radius: 3px;
  padding: 0px 20px;
  border: none;
  box-shadow: 1px 1px #ccd1d9;
  margin-left: 29px;
}
.tablecontent {
  padding-bottom: 35px;
}
table {
  margin-left: 25px;
  background-color: #f4f6fb;
  tr :first-child {
    text-align: left !important;
  }
  tr {
    text-align: center !important;
  }
  td {
    font-size: 11px;
    font-weight: bold;
    width: 250px;
    border: 2px #ffffff solid;
    padding: 10px 12px;
  }
  .tablevalue {
    text-align: center;
    color: #556486;
    font-weight: normal !important;
    .Totalvalue {
      font-size: 12px;
      margin-right: 5px;
      font-weight: normal !important;
    }
    .TotalUSD {
      font-size: 12px;
      color: #556486 !important;
      font-style: italic;
      font-weight: bold !important;
    }
  }
  .tableresult {
    text-align: center;
    background-color: #669bff;
    color: #ffffff;
    .Totalvalue {
      font-size: 15px;
      margin-right: 5px;
    }
    .TotalUSD {
      font-size: 12px;
      color: #000;
      font-style: italic;
      font-weight: normal !important;
    }
  }
}
.textcontent {
  background-color: #f5f7fc !important;
  padding: 25px 10px;
  img {
    width: 17px;
    height: 17px;
    float: left;
  }
}
.contenttitle {
  font-size: 15px;
  font-weight: bold;
  padding: 0px 28px;
}
.decripitionContent {
  font-size: 12px;
  text-align: justify;
  margin-left: 28px;
  color: #000000 !important;
  margin-right: 20px;
}
.tContent {
  font-size: 12px;
  padding-left: 28px;
  padding-top: 15px;
  color: #0064ff;
  text-decoration: none !important;
  cursor: pointer;
}
.FooterDiv {
  background-color: #ffffff;
  height: 90px;
}
.backbtn {
  display: block;
  background-color: #ffffff;
  color: #1c67f5;
  width: 180px;
  height: 38px;
  border-radius: 3px;
  border-color: #1c67f5;
  border-width: 1px;
  margin-top: 25px;
  margin-left: 25px;
  cursor: pointer;
  float: left;
}
.continuebtn {
  display: block;
  background-color: #1c67f5;
  color: #ffffff;
  width: 180px;
  height: 38px;
  border-radius: 3px;
  border: none;
  margin-top: 25px;
  margin-right: 25px;
  cursor: pointer;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  float: right;
}
.continuebtn[disabled] {
  border: 1px solid rgb(95, 151, 255);
  background-color: rgb(95, 151, 255);
  color: #ffffff;
  cursor: no-drop;
}
.Pricedecription {
  font-size: 10px;
  color: #669bff;
  //margin-top: 150px;
  position: absolute;
  bottom: 0px;
}
.noMargin {
  margin: 0px !important;
}
// .col-md-10 {
//   padding-right: 0px !important;
// }s
.col-md-2 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
@media (min-width: 1920px) {
  table {
    margin-right: 32px !important;
  }
}
.bmr-main[_ngcontent-c4] .billingBoxCont[_ngcontent-c4] input[_ngcontent-c4] {
  width: 300px;
  height: 38px;
  padding: 0px 20px;
  font-size: 14px;
  line-height: 21px;
  background: #ffffff;
  border: 0.7px solid #cccccc;
  box-sizing: border-box;
  box-shadow: inset 0.5px 0.5px 0.5px rgba;
}
.SingleRecurringClass input.col-md-11 {
  // max-width: 99% !important;
  width: 68px !important;
  height: 35px !important;
}
.SingleRecurringClass {
  margin-bottom: 25px;
}
.forminput input {
  width: 77px;
  height: 38px;
  // margin-left: 30px;
}
.row {
  margin-top: 2%;
  // margin-bottom: 10%;
  margin-left: 10px !important;
}
.billingTitile {
  padding-right: 0% !important;
  margin-top: 5px;
}
.billingRecurrence {
  margin-right: 5% !important;
  // padding-left: 45px !important;
  margin-top: 5px;
}
.okbtn {
  display: block;
  background-color: #1c67f5;
  color: #ffffff;
  width: 180px;
  height: 38px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}
.okbtndiv {
  left: -30px;
}
input.is-invalid {
  border-color: #eb3232 !important;
  box-shadow: none;
  border-width: 1px;
}
.notifyMsg {
  color: #eb3232;
  font-size: 12px;
  margin-top: 44px !important;
  margin-left: -110px !important;
  margin-right: -24px !important;
}
.notifyMsg1 {
  color: #eb3232;
  font-size: 12px;
  margin-top: 44px !important;
  margin-left: -110px !important;
  margin-right: -70px !important;
}
.numberofrecurrence {
  color: #1e6af6;
  padding-top: 6px;
}
.numberofrecurrence label {
  background-color: #ccd1d9;
}
